body {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* font-family: 'Open-Sans', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #40BC8B;
  text-decoration: none;
}

h1 {
  color: #387C61;
  font-size: 35px;
  padding: 20px 0 5px 0;
}

h2 {
  color: #40BC8B;
  font-size: 25px;
  padding: 5px 0 0 0;
}

h3 {
  color: #387C61;
  font-size: 20px;
}

p {
  display: flex;
  text-align: center;
  padding: 5px 0 0 5px;
  color: #7C6176;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

div.box {
  padding: 25px;
  width: 300px;
  max-width: 350px;
  height: 200px;
}
.project-img {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 5px 0 5px;
}
.url-cybercloset {
  background-image: url(../images/cyber-closet.png);
}
.url-monumental-muddle {
  background-image: url(../images/monumental-muddle.png);
}
.url-moviehub {
  background-image: url(../images/moviehub.png);
}
.url-codepod {
  background-image: url(../images/codepod2.png);
}
.movie-card{
  color: black;
  transform: translateY(0px);
  transition: all 0.55s ease;
  -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
}
.movie-card:hover{
  transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);

}

.icons {
  text-align: center;
  flex-wrap: wrap;
}

.devicon-javascript-plain.colored, .devicon-linux-plain.colored, .devicon-bootstrap-plain.colored, .devicon-postgresql-plain-wordmark.colored {
  font-size: 50px;
  margin: 5px;
}
.devicon-ruby-plain-wordmark.colored, .devicon-rails-plain-wordmark.colored, .devicon-angularjs-plain.colored, .devicon-express-original.colored, .devicon-nodejs-plain.colored {
  font-size: 55px;
  margin: 5px;
}
.devicon-sass-original.colored, .devicon-jquery-plain-wordmark.colored, .devicon-react-original-wordmark.colored, .devicon-html5-plain-wordmark.colored, .devicon-css3-plain-wordmark.colored, .devicon-mongodb-plain-wordmark.colored, .devicon-git-plain-wordmark, .devicon-wordpress-plain-wordmark.colored, .devicon-drupal-plain-wordmark.colored, .devicon-python-plain-wordmark, .devicon-django-plain.colored {
  font-size: 65px;
  margin: 5px;
}
