body {
  background-color: white;
  /* font-family: 'Open-Sans', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #40BC8B;
  text-decoration: none;
}

h1 {
  color: #387C61;
  font-size: 35px;
}

h2 {
  color: #40BC8B;
  font-size: 25px;
}

h3 {
  color: #387C61;
  font-size: 25px;
  padding: 5px;
}

p {
  line-height: 1.4;
  display: flex;
  text-align: center;
  color: #7C6176;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-one {
  background-color: rgba(118, 5, 204, 0.07);
}
.section-two {
  background-color: rgba(118, 5, 204, 0.12);
}
.section-three {
  background-color: rgba(118, 5, 204, 0.18);
}
.section-four {
  background-color: rgba(118, 5, 204, 0.24);
}
.section-five {
  background-color: rgba(118, 5, 204, 0.28);
}
.title-box {
  padding: 25px;
  width: 410px;
  height: 100px;
  margin: 40px 0 0 0;
  justify-content: center;
}

.box {
  padding: 25px;
  width: 300px;
  /* max-width: 350px; */
  height: 200px;
}
.project {
  margin: 15px;
  background-color: white;
  padding: 25px;
  width: 350px;
  max-width: 350px;
  height: 450px;
}
.project-movie-hub {
  margin: 15px;
  background-color: white;
  padding: 25px;
  width: 350px;
  max-width: 350px;
  height: 450px;
}
.project-place-notes {
  margin: 15px;
  background-color: white;
  padding: 25px;
  width: 350px;
  max-width: 350px;
  height: 450px;
}
.project-img {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 25px;
  width: 350px;
  max-width: 350px;
  height: 200px;
}
.url-place-notes {
  background-image: url(../images/place-notes.png);
}
.url-cybercloset {
  background-image: url(../images/cyber-closet.png);
}
.url-monumental-muddle {
  background-image: url(../images/monumental-muddle.png);
}
.url-moviehub {
  background-image: url(../images/wonder-woman.png);
}
.url-codepod {
  background-image: url(../images/codepod2.png);
}
.movie-card{
  color: black;
  transform: translateY(0px);
  transition: all 0.55s ease;
  -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
}
.movie-card:hover{
  transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
  box-shadow: 0 20px 6px -8px rgba(0,0,0,0.15);
}

.icons {
  padding: 0px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}

.devicon-javascript-plain.colored, .devicon-linux-plain.colored, .devicon-bootstrap-plain.colored, .devicon-postgresql-plain-wordmark.colored {
  font-size: 50px;
  margin: 5px;
}
.devicon-ruby-plain-wordmark.colored, .devicon-rails-plain-wordmark.colored, .devicon-angularjs-plain.colored, .devicon-express-original.colored, .devicon-nodejs-plain.colored {
  font-size: 55px;
  margin: 5px;
}
.devicon-sass-original.colored, .devicon-jquery-plain-wordmark.colored, .devicon-react-original-wordmark.colored, .devicon-html5-plain-wordmark.colored, .devicon-css3-plain-wordmark.colored, .devicon-mongodb-plain-wordmark.colored, .devicon-git-plain-wordmark, .devicon-wordpress-plain-wordmark.colored, .devicon-drupal-plain-wordmark.colored, .devicon-python-plain-wordmark, .devicon-django-plain.colored {
  font-size: 65px;
  margin: 5px;
}
.footer {
  text-align: center;
  margin: 15px 0 50px 0;
}
.footer-link {
  margin: 0 20px 0 20px;
}
.fab {
  font-size: 30px;
  padding: 0 5px 0 5px;
}

@media only screen and (max-width: 385px) {
  .icons {
    flex-direction: row;
  }
  .project {
    margin: 15px;
    background-color: white;
    padding: 25px;
    width: 250px;
    max-width: 250px;
    height: 400px;
  }
  .project-place-notes {
    margin: 15px;
    background-color: white;
    padding: 25px;
    width: 250px;
    max-width: 250px;
    height: 480px;
  }
  .project-movie-hub {
    margin: 15px;
    background-color: white;
    padding: 25px;
    width: 250px;
    max-width: 250px;
    height: 480px;
  }
  .project-img {
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px;
    width: 250px;
    max-width: 250px;
    height: 150px;
  }
  .title-box {
    padding: 25px;
    width: 250px;
    height: 110px;
    margin: 40px 0 0 0;
    align-items: flex-start;
  }
  .mobile-fa {
    font-size: 17px;
  }
  .mobile-project-link {
    padding: 6px;
  }
  .mobile-project-div {
    justify-content: flex-end;
  }
  .devicon-javascript-plain.colored, .devicon-linux-plain.colored, .devicon-bootstrap-plain.colored, .devicon-postgresql-plain-wordmark.colored {
    font-size: 40px;
    margin: 5px;
  }
  .devicon-ruby-plain-wordmark.colored, .devicon-rails-plain-wordmark.colored, .devicon-angularjs-plain.colored, .devicon-express-original.colored, .devicon-nodejs-plain.colored {
    font-size: 45px;
    margin: 5px;
  }
  .devicon-sass-original.colored, .devicon-jquery-plain-wordmark.colored, .devicon-react-original-wordmark.colored, .devicon-html5-plain-wordmark.colored, .devicon-css3-plain-wordmark.colored, .devicon-mongodb-plain-wordmark.colored, .devicon-git-plain-wordmark, .devicon-wordpress-plain-wordmark.colored, .devicon-drupal-plain-wordmark.colored, .devicon-python-plain-wordmark, .devicon-django-plain.colored {
    font-size: 55px;
    margin: 5px;
  }
  .about-me-box {
    margin: 10px;
    padding: 0px;
    width: 350px;
    height: 180px;
  }
  .small-box {
    height: 120px;
  }
  .icons {
    height: 130px;
    padding: 0px;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
  }
}
